html,
body {
  margin: 0;
  padding: 0;
}

/******************* Beginning of Keyframes *********************/

@keyframes fadeInModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes crabShuffle {
  0% {
    transform: translate(-80px, 0);
  }
  50% {
    transform: translate(80px, 0);
  }
  100% {
    transform: translate(-80px, 0);
  }
}

@keyframes crabShuffleTwo {
  0% {
    transform: translate(90px, 0);
  }
  50% {
    transform: translate(-85px, 0);
  }
  100% {
    transform: translate(90px, 0);
  }
}

@keyframes bunnyHop {
  0% {
    transform: translate(50px, 0);
  }
  25% {
    transform: translate(35px, 35px);
  }
  50% {
    transform: translate(0, 50px);
  }
  75% {
    transform: translate(-35px, 35px);
  }
  100% {
    transform: translate(50px, 0);
  }
}

@keyframes bunnyHopAndWiggle {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  20% {
    transform: translateY(-15px) rotate(-2deg);
  }
  40% {
    transform: translateY(0) rotate(2deg);
  }
  60% {
    transform: translateY(-10px) rotate(-2deg);
  }
  80% {
    transform: translateY(0) rotate(2deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

@keyframes graveGuardWalk {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -80px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes graveGuardWalk2 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -120px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes movePlayerToSea {
  0% {
    transform: translate(-50%, -50%);
  }
  10% {
    transform: translate(-170px, 0px);
  }
  20% {
    transform: translate(-180px, 20px);
  }
  30% {
    transform: translate(-250px, 70px);
  }
  50% {
    transform: translate(-325px, 150px);
  }
  100% {
    transform: translate(-325px, 410px);
  }
}

@keyframes movePlayerToHouse {
  0% {
    transform: translate(0, 0);
  }
  15% {
    transform: translate(5px, -140px);
  }
  25% {
    transform: translate(45px, -140px);
  }
  50% {
    transform: translate(58px, -350px);
  }
  100% {
    transform: translate(75px, -390px);
  }
}

@keyframes movePlayerToGarden {
  0% {
    transform: translate(-50%, -50%);
  }

  50% {
    transform: translate(-260px, -70px);
  }
  100% {
    transform: translate(-580px, -210px);
  }
}

@keyframes movePlayerToPearl {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(130px, 0);
  }
  100% {
    transform: translate(130px, 320px);
  }
}

@keyframes movePlayerToDiamond {
  0% {
    transform: translate(-50%, -50%);
  }
  25% {
    transform: translate(350px, -10px);
  }
  50% {
    transform: translate(450px, -155px);
  }
  100% {
    transform: translate(620px, -160px);
  }
}

@keyframes movePlayerToGraveyard {
  0% {
    transform: translate(-50%, -50%);
  }
  15% {
    transform: translate(350px, -10px);
  }
  25% {
    transform: translate(530px, 155px);
  }
  75% {
    transform: translate(630px, 160px);
  }
  100% {
    transform: translate(630px, 310px);
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/******************* End of Keyframes *********************/

#main-content {
  width: 100vw;
  height: 100vh;
  background-image: url(assets/map.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#game-area {
  height: 100%;
  width: 100%;
  display: flex;
}
audio {
  visibility: hidden;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

/*******************Guardians *********************/
#crab-container1 {
  position: absolute;
  top: 72%;
  left: 10%;
  padding: 0;
  margin: 0;
  width: 25px;
  height: 25px;
  animation: crabShuffle 5s ease-in-out forwards;
  animation-iteration-count: infinite;
}

#crab-container2 {
  position: absolute;
  top: 72%;
  left: 12%;
  padding: 0;
  margin: 0;
  animation: crabShuffleTwo 5s ease-in-out forwards;
  animation-iteration-count: infinite;
}

#crab-container3 {
  position: absolute;
  top: 72%;
  left: 14%;
  padding: 0;
  margin: 0;
  animation: crabShuffle 5s ease-in-out forwards;
  animation-iteration-count: infinite;
}

#crab-container4 {
  position: absolute;
  top: 72%;
  left: 16%;
  padding: 0;
  margin: 0;
  animation: crabShuffleTwo 5s ease-in-out forwards;
  animation-iteration-count: infinite;
}

#crab1 {
  padding: 0;
  margin: 0;
  width: 25px;
  height: 25px;
}

#crab2 {
  padding: 0;
  margin: 0;
  width: 25px;
  height: 25px;
}
#crab3 {
  padding: 0;
  margin: 0;
  width: 25px;
  height: 25px;
}

#crab4 {
  padding: 0;
  margin: 0;
  width: 25px;
  height: 25px;
}

#portal {
  position: absolute;
  width: 100px;
  height: 90px;

  position: fixed;
  top: 49%;
  left: 51.8%;
  transform: translate(-50%, -50%);
}

#garden-bunny {
  position: absolute;
  top: 15%;
  left: 8%;
  padding: 0;
  margin: 0;
  animation: bunnyHop 15s ease-in-out forwards;
  animation-iteration-count: infinite;
}

#garden-bunny2 {
  position: absolute;
  top: 30%;
  left: 15%;
  padding: 0;
  margin: 0;
  animation: bunnyHopAndWiggle 15s ease-in-out forwards;
  animation-iteration-count: infinite;
}

#bunny {
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
}

#bunny2 {
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
}

#pearl-cat {
  position: absolute;
  bottom: 12%;
  right: 42%;
  padding: 0;
  margin: 0;
}

#cat {
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
}

#pearl-cat2 {
  position: absolute;
  bottom: 16.5%;
  right: 42%;
  padding: 0;
  margin: 0;
}

#cat2 {
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
}

#pearl-cat3 {
  position: absolute;
  bottom: 20.5%;
  right: 42%;
  padding: 0;
  margin: 0;
}

#cat3 {
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
}

#pearl-cat4 {
  position: absolute;
  bottom: 24.5%;
  right: 42%;
  padding: 0;
  margin: 0;
}

#cat4 {
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
}

#pearl-cat5 {
  position: absolute;
  bottom: 12%;
  right: 36%;
  padding: 0;
  margin: 0;
}

#cat5 {
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
}

#pearl-cat6 {
  position: absolute;
  bottom: 16.5%;
  right: 36%;
  padding: 0;
  margin: 0;
}

#cat6 {
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
}

#pearl-cat7 {
  position: absolute;
  bottom: 20.5%;
  right: 36%;
  padding: 0;
  margin: 0;
}

#cat7 {
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
}

#pearl-cat8 {
  position: absolute;
  bottom: 24.5%;
  right: 36%;
  padding: 0;
  margin: 0;
}

#cat8 {
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
}

#grave-guard {
  position: absolute;
  bottom: 19%;
  right: 7.5%;
  padding: 0;
  margin: 0;
  animation: graveGuardWalk 12s ease-in-out forwards;
  animation-iteration-count: infinite;
}

#grave-guardian {
  padding: 0;
  margin: 0;
  width: 35px;
  height: 35px;
}

#grave-guard1 {
  position: absolute;
  bottom: 19%;
  right: 2.5%;
  padding: 0;
  margin: 0;
  animation: graveGuardWalk2 12s ease-in-out forwards;
  animation-iteration-count: infinite;
}

#grave-guardian1 {
  padding: 0;
  margin: 0;
  width: 35px;
  height: 35px;
}

/******************* End of Guardians *********************/

#player-container {
  position: absolute;
  display: flex;
  left: 51%;
  top: 48%;
}

#player {
  height: 20px;
  width: 20px;
  z-index: 1;
}

#sea-treasure,
#home-treasure,
#grave-treasure,
#garden-treasure,
#pearl-treasure,
#diamond-treasure {
  width: 16px;
  height: 16px;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

#sea-treasure-image,
#home-treasure-image,
#grave-treasure-image,
#garden-treasure-image #pearl-treasure-image,
#diamond-treasure-image {
  height: 20px;
  width: 20px;
}

#prize {
  height: 20px;
  width: 20px;
}

.modal {
  width: 250px;
  height: 180px;
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: 100;
  transition: opacity 0.5s ease-in-out;
  box-shadow: -15px 0 0 0 black, 15px 0 0 0 black, 0 -15px 0 0 black,
    0 15px 0 0 black;
}

/**********************SEA TREASURE************************/

#sea-treasure {
  top: 96%;
  left: 29%;
}

#sea-treasure:hover,
#sea-treasure-image:hover {
  animation: shake 0.5s;
}

#sea-treasure-toggle:checked ~ #player-container {
  animation: movePlayerToSea 5s ease-in-out forwards;
}

#sea-treasure-toggle:checked ~ .modal.sea {
  animation: none;
  visibility: visible;
  animation: fadeInModal 0.5s ease-in-out 5s forwards;
}

/*********************HOME TREASURE************************/
#home-treasure {
  top: 4.5%;
  left: 59.5%;
}

#home-treasure:hover,
#home-treasure-image:hover {
  animation: shake 0.5s;
}

#home-treasure-toggle:checked ~ #player-container {
  animation: movePlayerToHouse 5s forwards;
}

#home-treasure-toggle:checked ~ .modal.home {
  animation: none;
  visibility: visible;
  animation: fadeInModal 0.5s ease-in-out 5s forwards;
}

/*******************GARDEN TREASURE************************/
#garden-treasure {
  top: 23%;
  left: 11%;
}

#garden-treasure:hover,
#garden-treasure-image:hover {
  animation: shake 0.5s;
}

#garden-treasure-toggle:checked ~ #player-container {
  animation: movePlayerToGarden 5s forwards;
}

#garden-treasure-toggle:checked ~ .modal.garden {
  animation: none;
  visibility: visible;
  animation: fadeInModal 0.5s ease-in-out 5s forwards;
}

/********************PEARL TREASURE************************/
#pearl-treasure {
  bottom: 12%;
  right: 39.5%;
}

#pearl-treasure:hover,
#pearl-treasure-image:hover {
  animation: shake 0.5s;
}

#pearl-treasure-toggle:checked ~ #player-container {
  animation: movePlayerToPearl 5s forwards;
}

#pearl-treasure-toggle:checked ~ .modal.pearl {
  animation: none;
  visibility: visible;
  animation: fadeInModal 0.5s ease-in-out 5s forwards;
}
/******************DIAMOND TREASURE************************/
#diamond-treasure {
  top: 28%;
  right: 7%;
}

#diamond-treasure:hover,
#diamond-treasure-image:hover {
  animation: shake 0.5s;
}

#diamond-treasure-toggle:checked ~ #player-container {
  animation: movePlayerToDiamond 6s forwards;
}

#diamond-treasure-toggle:checked ~ .modal.diamond {
  animation: none;
  visibility: visible;
  animation: fadeInModal 0.5s ease-in-out 5s forwards;
}
/********************GRAVE TREASURE************************/

#grave-treasure {
  bottom: 13%;
  right: 6.3%;
}

#grave-treasure:hover,
#grave-treasure-image:hover {
  animation: shake 0.5s;
}

#grave-treasure-toggle:checked ~ #player-container {
  animation: movePlayerToGraveyard 5s forwards;
}

#grave-treasure-toggle:checked ~ .modal.grave {
  animation: none;
  visibility: visible;
  animation: fadeInModal 0.5s ease-in-out 5s forwards;
}
